#root {
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.form {
  position: absolute;
  background-color: #24242499;
  border-radius: 2rem;
  margin: 2rem;
}
.settings {
  cursor: pointer;
  padding: 1rem;
  width: fit-content;
}

.form-settings {
  padding: 2rem;
  padding-top: 0;
}
.export {
  margin: 1rem;
  margin-inline: 0;
  margin-right: 0.5rem;
  float: right;
}

.color {
  height: 100%;
  vertical-align: middle;
  width: 5rem;
  border-radius: 60px;
}
.color-picker {
  position: absolute;
}

.points {
  display: flex;
}

.point {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
th {
  text-align: left;
}

.container {
  padding: 60px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 60px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  min-width: 50%;
}

.title {
  margin: 0;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}

.cards-container {
  margin-top: 60px;
  flex: 1;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  height: 43rem;
  margin-bottom: 2rem;
}

.secondary-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  max-width: 100%;
  .card {
    flex: auto;
  }
}
@media screen and (max-width: 1010px) {
  .secondary-cards {
    padding-bottom: 2rem;
  }
}

.button {
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  width: 100%;
  min-width: 100%;
  cursor: pointer;
}
.buttonIcon {
  margin-right: 9px;
  max-width: 3rem;
  max-height: 2.5rem;
}

.controls {
  padding: 20px;
  h2 {
    margin: 0;
    margin-bottom: 12px;
  }
}
.selected-control {
  display: flex;
  align-items: center;
}
.color-circle {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 60px;
}

.p-dropdown-trigger {
  color: white;
}
.p-dropdown {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  border-radius: 60px;
  box-shadow: none;
}
.p-dropdown-label {
  color: white;
}

.p-dropdown-panel {
  border: 2px solid white;
  border-radius: 30px;
  background-color: #242424;
  overflow: hidden;
  margin-top: 4px;
}
.p-dropdown-item {
  color: white;
}

.p-dropdown-item.p-highlight {
  background: #333;
}
.p-dropdown-item.p-highlight.p-focus {
  background: #444;
  color: white;
}
.p-dropdown-item.p-focus {
  background: #444;
  color: white;
}
.p-dropdown-items {
  padding: 0;
}

input {
  background: none;
  border: none;
  outline: none;
  flex: 1;
  margin-left: 0.5rem;
  width: 4rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.input {
  border: 2px solid white;
  border-radius: 60px;
  padding-inline: 12px;
  border-collapse: collapse;
  height: 3rem;
  align-items: center;
  display: flex;
  padding: 0.25rem;
  padding-inline: 0.5rem;
  font-size: 1rem;
}
.current-control {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 24rem;
  max-width: 100%;
}
td:first-child,
th:first-child {
  border-right: white solid 1px;
  margin-right: 0.5rem;
}
td {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sketch-picker {
  background: #333 !important;
  border: white solid !important;
  border-radius: 20px !important;
  label {
    color: white !important;
  }
}
.perspective-card {
  flex: 5;
  height: 100%;
}
